# Introduction to Sklearn

In [1]:
#lets list all workflow

steps  = [
"0. An end to end sk-learn workflow",
"1. Getting your data ready (to be used with ML models)",
"2. Choosing a estimator/algo/ML model",
"3. Fitting a model/algo to data (learing patterns)",
"4. Evaluating model predictions",
"5. Improving model predictions",
"6. Saving and loading model"
]
steps

['0. An end to end sk-learn workflow',
 '1. Getting your data ready (to be used with ML models)',
 '2. Choosing a estimator/algo/ML model',
 '3. Fitting a model/algo to data (learing patterns)',
 '4. Evaluating model predictions',
 '5. Improving model predictions',
 '6. Saving and loading model']

In [2]:
#standard imports 
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt 
%matplotlib inline

# 1.  Getting your data ready (to be used with ML models)
    
Three main things we have to do 
    1. Split the data into features and labels (usually 'X' and 'y')
    2. Filling/ imputing  or disregarding missing values 
    3. Converting non-numeric values to numeric values(ALso called feature encoding)

In [3]:
heart_disease =  pd.read_csv("data_sets/heart-disease.csv")
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [4]:
#Split the data into features and labels (usually 'X' and 'y')
X = heart_disease.drop('target',axis  = 1)
X

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [5]:
y  = heart_disease['target']
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [6]:
# Split data into train and test set 
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test  =  train_test_split(X, y, test_size = 0.2)

In [7]:
X_train.shape, X_test.shape , y_train.shape, y_test.shape

((242, 13), (61, 13), (242,), (61,))

In [8]:
X.shape[0]*0.8 # cross check

242.4

##

##  1.1 Make sure the data set is all numric

In [9]:
car_sales = pd.read_csv("data_sets/car-sales-extended.csv")
car_sales.head()

     Make Colour  Odometer (KM)  Doors  Price
0   Honda  White          35431      4  15323
1     BMW   Blue         192714      5  19943
2   Honda  White          84714      4  28343
3  Toyota  White         154365      4  13434
4  Nissan   Blue         181577      3  14043

In [10]:
len(car_sales)

1000

In [11]:
#it is a categorical column
car_sales["Doors"].value_counts()

4    856
5     79
3     65
Name: Doors, dtype: int64

In [12]:
car_sales.dtypes

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price             int64
dtype: object

In [13]:
#Split is X and y 
X =  car_sales.drop('Price',axis=1)
y = car_sales['Price']

#Split into training and test 
X_train , X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2)

In [14]:
#Build a ML model 
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor()
model.fit(X_train, y_train)
model.score(X_test, y_test)

ValueError: could not convert string to float: 'Honda'

In [15]:
#ValueError: becaseu Ml models do not understand non-numeric values

In [16]:
#Trun categories into numbers 
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features  = ['Make','Colour','Doors']
one_hot  = OneHotEncoder()
transformer  = ColumnTransformer([('one_hot',
                                   one_hot,
                                  categorical_features)],
                                remainder = "passthrough")
#Hey ColumnTransformer apply OneHotEncoder to caregorical_features and passthrough the remainder, which is odometer column
transformed_X  = transformer.fit_transform(X)
transformed_X

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 3.54310e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        1.00000e+00, 1.92714e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 8.47140e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 6.66040e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.15883e+05],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.48360e+05]])

In [17]:
pd.DataFrame(transformed_X)

       0    1    2    3    4    5    6    7    8    9   10   11        12
0    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   35431.0
1    1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  192714.0
2    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   84714.0
3    0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  154365.0
4    0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  181577.0
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...       ...
995  0.0  0.0  0.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0   35820.0
996  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0  0.0  155144.0
997  0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0   66604.0
998  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  215883.0
999  0.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  248360.0

[1000 rows x 13 columns]

In [18]:
X.head()

     Make Colour  Odometer (KM)  Doors
0   Honda  White          35431      4
1     BMW   Blue         192714      5
2   Honda  White          84714      4
3  Toyota  White         154365      4
4  Nissan   Blue         181577      3

In [19]:
#another and clear way is dummy encoding 
dummies   = pd.get_dummies(car_sales[['Make','Colour','Doors']])
dummies

,Doors,Make_BMW,Make_Honda,Make_Nissan,Make_Toyota,Colour_Black,Colour_Blue,Colour_Green,Colour_Red,Colour_White
0,4,0,1,0,0,0,0,0,0,1
1,5,1,0,0,0,0,1,0,0,0
2,4,0,1,0,0,0,0,0,0,1
3,4,0,0,0,1,0,0,0,0,1
4,3,0,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...
995,4,0,0,0,1,1,0,0,0,0
996,3,0,0,1,0,0,0,0,0,1
997,4,0,0,1,0,0,1,0,0,0
998,4,0,1,0,0,0,0,0,0,1
999,4,0,0,0,1,0,1,0,0,0

In [20]:
 #Now lets refit our model 
np.random.seed(42)
X_train , X_test, y_train, y_test = train_test_split(transformed_X,
                                                     y,
                                                     test_size = 0.2)

model.fit(X_train,y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [21]:
model.score(X_test,y_test)

0.3235867221569877

## 1.2 What if there is a missing data values 
1. Fill them with some values(imputation)
2. Remove the samples with missing data altogether

In [22]:
# Import car sales missing data 
car_sales_missing  = pd.read_csv("data_sets/car-sales-extended-missing-data.csv")
car_sales_missing

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
995  Toyota  Black        35820.0    4.0  32042.0
996     NaN  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[1000 rows x 5 columns]

In [23]:
car_sales_missing.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [24]:
#Create X and y 
X  = car_sales_missing.drop("Price",axis = 1)
y = car_sales_missing["Price"]

In [25]:
#Lets try and convert our data into numbers 

from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features  = ['Make','Colour','Doors']
one_hot  = OneHotEncoder()
transformer  = ColumnTransformer([('one_hot',
                                   one_hot,
                                  categorical_features)],
                                remainder = "passthrough")
#Hey ColumnTransformer apply OneHotEncoder to caregorical_features and passthrough the remainder, which is odometer column
transformed_X  = transformer.fit_transform(X)
transformed_X

ValueError: Input contains NaN

In [26]:
car_sales_missing

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
995  Toyota  Black        35820.0    4.0  32042.0
996     NaN  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[1000 rows x 5 columns]

In [27]:
#yes our data contains NaN

### Option 1. fill missing data with pandas

In [28]:
car_sales_missing["Doors"].value_counts()
#4 doors are the most frequent door value

4.0    811
5.0     75
3.0     64
Name: Doors, dtype: int64

In [29]:
#Fill the "Make" column 
car_sales_missing["Make"].fillna('missing',inplace = True)

#Fill the "Colour" column
car_sales_missing['Colour'].fillna('missing',inplace =  True)

#Fill the "Odometer (KM)" column
car_sales_missing["Odometer (KM)"].fillna(car_sales_missing["Odometer (KM)"].mean(),inplace = True)


#Fill the "Doors" column 
car_sales_missing["Doors"].fillna(4, inplace = True)

In [30]:
#Check our dataframe one more time 
car_sales_missing.isna().sum()

Make              0
Colour            0
Odometer (KM)     0
Doors             0
Price            50
dtype: int64

#Remove rows with missing Price values because this is what we are predicting and imputing data for predictor column may leads t misleading results

In [31]:
car_sales_missing.dropna(inplace =  True)

In [32]:
car_sales_missing.isna().sum()

Make             0
Colour           0
Odometer (KM)    0
Doors            0
Price            0
dtype: int64

In [33]:
len(car_sales_missing)

950

In [34]:
X = car_sales_missing.drop('Price',axis = 1)
y = car_sales_missing["Price"]

In [35]:
#Lets  again try and convert our data into numbers 

from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features  = ['Make','Colour','Doors']
one_hot  = OneHotEncoder()
transformer  = ColumnTransformer([('one_hot',
                                   one_hot,
                                  categorical_features)],
                                remainder = "passthrough")
#Hey ColumnTransformer apply OneHotEncoder to caregorical_features and passthrough the remainder, which is odometer column
transformed_X  = transformer.fit_transform(car_sales_missing)
transformed_X

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        3.54310e+04, 1.53230e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        1.92714e+05, 1.99430e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        8.47140e+04, 2.83430e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 0.00000e+00,
        6.66040e+04, 3.15700e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        2.15883e+05, 4.00100e+03],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        2.48360e+05, 1.27320e+04]])

### Option 2 : Fill missing values with Scikit-Learn

In [36]:
car_sales_missing  = pd.read_csv("data_sets/car-sales-extended-missing-data.csv")
car_sales_missing.head()

     Make Colour  Odometer (KM)  Doors    Price
0   Honda  White        35431.0    4.0  15323.0
1     BMW   Blue       192714.0    5.0  19943.0
2   Honda  White        84714.0    4.0  28343.0
3  Toyota  White       154365.0    4.0  13434.0
4  Nissan   Blue       181577.0    3.0  14043.0

In [37]:
car_sales_missing.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [38]:
#Dropper the rows with missing Target/label values 
car_sales_missing.dropna(subset= ["Price"],inplace = True)
car_sales_missing.isna().sum()

Make             47
Colour           46
Odometer (KM)    48
Doors            47
Price             0
dtype: int64

In [39]:
#Split into X and y 
X  = car_sales_missing.drop('Price',axis = 1)
y = car_sales_missing["Price"]

In [40]:
#Fill missing values with Scikit-Learn
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

#Fill categorical values with "missing" and numerical values with "mean"
categorical_imputer = SimpleImputer(strategy = "constant",fill_value =  'missing')
door_imputer  = SimpleImputer(strategy = "constant",fill_value = 4)
num_imputer =  SimpleImputer(strategy = "mean")

#define columns 
categorical_features =  ["Make","Colour"]
door_feature =  ["Doors"]
num_feature =  ["Odometer (KM)"]

#creates an imputer (somthing data fills missing data)
imputer  = ColumnTransformer([
    ("cat_imputer",categorical_imputer,categorical_features),
    ("door_imputer",door_imputer,door_feature),
    ("num_imputer",num_imputer,num_feature)
])

#Transform the data 
filled_X =  imputer.fit_transform(X)
filled_X

array([['Honda', 'White', 4.0, 35431.0],
       ['BMW', 'Blue', 5.0, 192714.0],
       ['Honda', 'White', 4.0, 84714.0],
       ...,
       ['Nissan', 'Blue', 4.0, 66604.0],
       ['Honda', 'White', 4.0, 215883.0],
       ['Toyota', 'Blue', 4.0, 248360.0]], dtype=object)

In [41]:
#create Dataframe out of above transformations
car_sales_filled =  pd.DataFrame(filled_X,columns = ["Make","Colour","Doors","Odometer (KM)"])
car_sales_filled.head()

     Make Colour Doors Odometer (KM)
0   Honda  White     4         35431
1     BMW   Blue     5        192714
2   Honda  White     4         84714
3  Toyota  White     4        154365
4  Nissan   Blue     3        181577

In [42]:
car_sales_filled.isna().sum()

Make             0
Colour           0
Doors            0
Odometer (KM)    0
dtype: int64

In [43]:
#Trun categories into numbers 
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features  = ['Make','Colour','Doors']
one_hot  = OneHotEncoder()
transformer  = ColumnTransformer([('one_hot',
                                   one_hot,
                                  categorical_features)],
                                remainder = "passthrough")
#Hey ColumnTransformer apply OneHotEncoder to caregorical_features and passthrough the remainder, which is odometer column
transformed_X  = transformer.fit_transform(car_sales_filled)
transformed_X

<950x15 sparse matrix of type '<class 'numpy.float64'>'
	with 3800 stored elements in Compressed Sparse Row format>

In [44]:
#we have transformed our data as numbers and filled(with no missing values)
#Let's fit a model 
np.random.seed(42)
from sklearn.ensemble import RandomForestRegressor 
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(transformed_X,y,test_size = 0.2)

model =  RandomForestRegressor()
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.21990196728583944

In [45]:
#this model is performing worse than the previous one becasue of less data avaible to train 
len(car_sales_filled), len(car_sales)

(950, 1000)

In [46]:
steps

['0. An end to end sk-learn workflow',
 '1. Getting your data ready (to be used with ML models)',
 '2. Choosing a estimator/algo/ML model',
 '3. Fitting a model/algo to data (learing patterns)',
 '4. Evaluating model predictions',
 '5. Improving model predictions',
 '6. Saving and loading model']

## 2. Choosing a estimator/algo/ML model

* Classification -  Predicting wheather a sample is one thing or another 
* Regression -  Predicting a number

## Sk-learn Map -  https://scikit-learn.org/stable/tutorial/machine_learning_map/index.html
![](Images/ml_map.png)

## 2.1 Picking a machine learning model for regression problem

In [47]:
# Import boston housing dataset
from sklearn.datasets import load_boston
boston =  load_boston()

In [48]:
boston
#It is imported as a dict , let's transform it into Pandas DataFrame

{'data': array([[6.3200e-03, 1.8000e+01, 2.3100e+00, ..., 1.5300e+01, 3.9690e+02,
         4.9800e+00],
        [2.7310e-02, 0.0000e+00, 7.0700e+00, ..., 1.7800e+01, 3.9690e+02,
         9.1400e+00],
        [2.7290e-02, 0.0000e+00, 7.0700e+00, ..., 1.7800e+01, 3.9283e+02,
         4.0300e+00],
        ...,
        [6.0760e-02, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9690e+02,
         5.6400e+00],
        [1.0959e-01, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9345e+02,
         6.4800e+00],
        [4.7410e-02, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9690e+02,
         7.8800e+00]]),
 'target': array([24. , 21.6, 34.7, 33.4, 36.2, 28.7, 22.9, 27.1, 16.5, 18.9, 15. ,
        18.9, 21.7, 20.4, 18.2, 19.9, 23.1, 17.5, 20.2, 18.2, 13.6, 19.6,
        15.2, 14.5, 15.6, 13.9, 16.6, 14.8, 18.4, 21. , 12.7, 14.5, 13.2,
        13.1, 13.5, 18.9, 20. , 21. , 24.7, 30.8, 34.9, 26.6, 25.3, 24.7,
        21.2, 19.3, 20. , 16.6, 14.4, 19.4, 19.7, 20.5, 25. , 23.4, 18.9,
        35.4, 24.7, 31.6, 23.3, 19.6, 18.7, 16. , 22.2, 25. , 33. , 23.5,
        19.4, 22. , 17.4, 20.9, 24.2, 21.7, 22.8, 23.4, 24.1, 21.4, 20. ,
        20.8, 21.2, 20.3, 28. , 23.9, 24.8, 22.9, 23.9, 26.6, 22.5, 22.2,
        23.6, 28.7, 22.6, 22. , 22.9, 25. , 20.6, 28.4, 21.4, 38.7, 43.8,
        33.2, 27.5, 26.5, 18.6, 19.3, 20.1, 19.5, 19.5, 20.4, 19.8, 19.4,
        21.7, 22.8, 18.8, 18.7, 18.5, 18.3, 21.2, 19.2, 20.4, 19.3, 22. ,
        20.3, 20.5, 17.3, 18.8, 21.4, 15.7, 16.2, 18. , 14.3, 19.2, 19.6,
        23. , 18.4, 15.6, 18.1, 17.4, 17.1, 13.3, 17.8, 14. , 14.4, 13.4,
        15.6, 11.8, 13.8, 15.6, 14.6, 17.8, 15.4, 21.5, 19.6, 15.3, 19.4,
        17. , 15.6, 13.1, 41.3, 24.3, 23.3, 27. , 50. , 50. , 50. , 22.7,
        25. , 50. , 23.8, 23.8, 22.3, 17.4, 19.1, 23.1, 23.6, 22.6, 29.4,
        23.2, 24.6, 29.9, 37.2, 39.8, 36.2, 37.9, 32.5, 26.4, 29.6, 50. ,
        32. , 29.8, 34.9, 37. , 30.5, 36.4, 31.1, 29.1, 50. , 33.3, 30.3,
        34.6, 34.9, 32.9, 24.1, 42.3, 48.5, 50. , 22.6, 24.4, 22.5, 24.4,
        20. , 21.7, 19.3, 22.4, 28.1, 23.7, 25. , 23.3, 28.7, 21.5, 23. ,
        26.7, 21.7, 27.5, 30.1, 44.8, 50. , 37.6, 31.6, 46.7, 31.5, 24.3,
        31.7, 41.7, 48.3, 29. , 24. , 25.1, 31.5, 23.7, 23.3, 22. , 20.1,
        22.2, 23.7, 17.6, 18.5, 24.3, 20.5, 24.5, 26.2, 24.4, 24.8, 29.6,
        42.8, 21.9, 20.9, 44. , 50. , 36. , 30.1, 33.8, 43.1, 48.8, 31. ,
        36.5, 22.8, 30.7, 50. , 43.5, 20.7, 21.1, 25.2, 24.4, 35.2, 32.4,
        32. , 33.2, 33.1, 29.1, 35.1, 45.4, 35.4, 46. , 50. , 32.2, 22. ,
        20.1, 23.2, 22.3, 24.8, 28.5, 37.3, 27.9, 23.9, 21.7, 28.6, 27.1,
        20.3, 22.5, 29. , 24.8, 22. , 26.4, 33.1, 36.1, 28.4, 33.4, 28.2,
        22.8, 20.3, 16.1, 22.1, 19.4, 21.6, 23.8, 16.2, 17.8, 19.8, 23.1,
        21. , 23.8, 23.1, 20.4, 18.5, 25. , 24.6, 23. , 22.2, 19.3, 22.6,
        19.8, 17.1, 19.4, 22.2, 20.7, 21.1, 19.5, 18.5, 20.6, 19. , 18.7,
        32.7, 16.5, 23.9, 31.2, 17.5, 17.2, 23.1, 24.5, 26.6, 22.9, 24.1,
        18.6, 30.1, 18.2, 20.6, 17.8, 21.7, 22.7, 22.6, 25. , 19.9, 20.8,
        16.8, 21.9, 27.5, 21.9, 23.1, 50. , 50. , 50. , 50. , 50. , 13.8,
        13.8, 15. , 13.9, 13.3, 13.1, 10.2, 10.4, 10.9, 11.3, 12.3,  8.8,
         7.2, 10.5,  7.4, 10.2, 11.5, 15.1, 23.2,  9.7, 13.8, 12.7, 13.1,
        12.5,  8.5,  5. ,  6.3,  5.6,  7.2, 12.1,  8.3,  8.5,  5. , 11.9,
        27.9, 17.2, 27.5, 15. , 17.2, 17.9, 16.3,  7. ,  7.2,  7.5, 10.4,
         8.8,  8.4, 16.7, 14.2, 20.8, 13.4, 11.7,  8.3, 10.2, 10.9, 11. ,
         9.5, 14.5, 14.1, 16.1, 14.3, 11.7, 13.4,  9.6,  8.7,  8.4, 12.8,
        10.5, 17.1, 18.4, 15.4, 10.8, 11.8, 14.9, 12.6, 14.1, 13. , 13.4,
        15.2, 16.1, 17.8, 14.9, 14.1, 12.7, 13.5, 14.9, 20. , 16.4, 17.7,
        19.5, 20.2, 21.4, 19.9, 19. , 19.1, 19.1, 20.1, 19.9, 19.6, 23.2,
        29.8, 13.8, 13.3, 16.7, 12. , 14.6, 21.4, 23. , 23.7, 25. , 21.8,
        20.6, 21.2, 19.1, 20.6, 15.2,  7. ,  8.1, 13.6, 20.1, 21.8, 24.5,
        23.1, 19.7, 18.3, 21.2, 17.5, 16.8, 22.4, 20.6, 23.9, 22. , 11.9]),
 'feature_names': array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
        'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7'),
 'DESCR': ".. _boston_dataset:\n\nBoston house prices dataset\n---------------------------\n\n**Data Set Characteristics:**  \n\n    :Number of Instances: 506 \n\n    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.\n\n    :Attribute Information (in order):\n        - CRIM     per capita crime rate by town\n        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.\n        - INDUS    proportion of non-retail business acres per town\n        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)\n        - NOX      nitric oxides concentration (parts per 10 million)\n        - RM       average number of rooms per dwelling\n        - AGE      proportion of owner-occupied units built prior to 1940\n        - DIS      weighted distances to five Boston employment centres\n        - RAD      index of accessibility to radial highways\n        - TAX      full-value property-tax rate per $10,000\n        - PTRATIO  pupil-teacher ratio by town\n        - B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town\n        - LSTAT    % lower status of the population\n        - MEDV     Median value of owner-occupied homes in $1000's\n\n    :Missing Attribute Values: None\n\n    :Creator: Harrison, D. and Rubinfeld, D.L.\n\nThis is a copy of UCI ML housing dataset.\nhttps://archive.ics.uci.edu/ml/machine-learning-databases/housing/\n\n\nThis dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.\n\nThe Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic\nprices and the demand for clean air', J. Environ. Economics & Management,\nvol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics\n...', Wiley, 1980.   N.B. Various transformations are used in the table on\npages 244-261 of the latter.\n\nThe Boston house-price data has been used in many machine learning papers that address regression\nproblems.   \n     \n.. topic:: References\n\n   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.\n   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.\n",
 'filename': 'C:\\Users\\gmultani\\Desktop\\sample_project_1\\env\\lib\\site-packages\\sklearn\\datasets\\data\\boston_house_prices.csv'}

In [49]:
df_boston =  pd.DataFrame(boston["data"],columns = boston["feature_names"])
df_boston

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

In [50]:
df_boston["target"] =  pd.Series(boston["target"])
df_boston

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88,11.9

## https://scikit-learn.org/stable/datasets/index.html#boston-dataset
* here is some info about above dataset

In [51]:
#how many sample we have 
len(df_boston)

506

In [52]:
# Let's try the Ridge regression model 
from sklearn.linear_model import Ridge

#Setup a random seed
np.random.seed(42)

#Create the data 
X = df_boston.drop("target",axis = 1)
y = df_boston["target"]

#split into train and test test sets 
X_train, X_test, y_train, y_test =  train_test_split(X,y,test_size = 0.2)

#Intantiate Ridge model 
model =  Ridge()
model.fit(X_train, y_train )

#Check the score of the ridge model on Test data 
model.score(X_test, y_test)

0.6662221670168521

#### How do we import this score ?
#### What if ridge was not working ?

### let's refer back to the map 
###  https://scikit-learn.org/stable/tutorial/machine_learning_map/index.html

In [53]:
# Let's try Randomforest reggresorfrom ensemble method
from sklearn.ensemble import RandomForestRegressor

#setup random seed 
np.random.seed(42)

#Create the data 
X = df_boston.drop("target",axis = 1)
y = df_boston["target"]

#split into train and test test sets 
X_train, X_test, y_train, y_test =  train_test_split(X,y,test_size = 0.2)

#Intantiate RandomForestRegressor model
rf =  RandomForestRegressor()
rf.fit(X_train, y_train)

#Evaluate the RandomForest Regressor 
rf.score(X_test, y_test)

0.873969014117403

In [54]:
#let's compare it with score of ridge model, which is 
model.score(X_test, y_test)

0.6662221670168521

In [55]:
#did you see the improvement

### 2.1 Picking a machine learning model for classification problem

 https://scikit-learn.org/stable/tutorial/machine_learning_map/index.html

In [56]:
heart_disease  = pd.read_csv("data_sets/heart-disease.csv")
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [57]:
#Now foolow the scikit learn map 
#do we have samplesize >50
len(heart_disease)

303

Consulting the Scikit learn map and it says try `linear SVC`

In [58]:
#import linearSVC estimator class 
from sklearn.svm import LinearSVC

#set-up random seed
np.random.seed(42)

#Make the data 
X = heart_disease.drop('target', axis=1)
y = heart_disease['target']

#Split the data 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

#Instantiate LinearSVC
clf =  LinearSVC(max_iter = 10000)
clf.fit(X_train, y_train)

#Evaluate LinearSVC 
clf.score(X_test, y_test)

C:\Users\gmultani\Desktop\sample_project_1\env\lib\site-packages\sklearn\svm\_base.py:946: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn("Liblinear failed to converge, increase "

0.8360655737704918

In [59]:
#import RandomForestclassifier estimator class 
from sklearn.ensemble import RandomForestClassifier

#set-up random seed
np.random.seed(42)

#Make the data 
X = heart_disease.drop('target', axis=1)
y = heart_disease['target']

#Split the data 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

#Instantiate RandomForestClassifier 
clf =  RandomForestClassifier()
clf.fit(X_train, y_train)

#Evaluate LinearSVC 
clf.score(X_test, y_test)

0.8524590163934426

### Tip: 
        1. If you have structured data, use ensemble methods 
        2. If you have unstructured data, use deeplearning or trasfer learning

In [60]:
steps

['0. An end to end sk-learn workflow',
 '1. Getting your data ready (to be used with ML models)',
 '2. Choosing a estimator/algo/ML model',
 '3. Fitting a model/algo to data (learing patterns)',
 '4. Evaluating model predictions',
 '5. Improving model predictions',
 '6. Saving and loading model']

## 3.Fitting a model/algo to data (learing patterns) and use it to make prediction 
### 3.1 Fitting the model to data

 Note : 
*        `X` = features / feature variables / data 
*        `y` = labels, targets, target variables

In [61]:
#import RandomForestclassifier estimator class 
from sklearn.ensemble import RandomForestClassifier

#set-up random seed
np.random.seed(42)

#Make the data 
X = heart_disease.drop('target', axis=1)
y = heart_disease['target']

#Split the data 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

#Instantiate RandomForestClassifier 
clf =  RandomForestClassifier()

#Fit the model to the Data (Training the machine learning model )
clf.fit(X_train, y_train)

#Evaluate LinearSVC classifier (Use the patterns the model has learned )
clf.score(X_test, y_test)

0.8524590163934426

In [62]:
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [63]:
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

### 3.2 Making prediction using machine learning model 

Two ways to make prediction:
    *  1. `predict()`
    *  2. `predict_proba()`

In [64]:
# Use a trained model to make predictions 
clf.predict(np.array([2,3,4,5,6,7]))

ValueError: Expected 2D array, got 1D array instead:
array=[2. 3. 4. 5. 6. 7.].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [65]:
#in order to predict, we have to supply data in same shape as suplier for training 
clf.predict(X_test)

array([0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0], dtype=int64)

In [66]:
np.array(y_test)

array([0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0,
       0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0], dtype=int64)

In [67]:
# Compare predictions to truth labels to evaluate the model 
y_preds =  clf.predict(X_test)
np.mean(y_preds == y_test)

0.8524590163934426

In [68]:
clf.score(X_test, y_test)

0.8524590163934426

In [69]:

from sklearn.metrics import accuracy_score

accuracy_score(y_test, y_preds)

0.8524590163934426

In [70]:
steps

['0. An end to end sk-learn workflow',
 '1. Getting your data ready (to be used with ML models)',
 '2. Choosing a estimator/algo/ML model',
 '3. Fitting a model/algo to data (learing patterns)',
 '4. Evaluating model predictions',
 '5. Improving model predictions',
 '6. Saving and loading model']

### 3.2. make prediction with predict_proba()

In [71]:
# predict_proba() returns probablities of classification labels 
clf.predict_proba(X_test[:5])

array([[0.89, 0.11],
       [0.49, 0.51],
       [0.43, 0.57],
       [0.84, 0.16],
       [0.18, 0.82]])

In [72]:
#let's predict on the same data 
clf.predict(X_test[:5])

array([0, 1, 1, 0, 1], dtype=int64)

### `predict()` can also be used for regression model

In [73]:
from sklearn.ensemble import RandomForestRegressor

In [74]:
np.random.seed(42)

In [75]:
df_boston.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [76]:
# Create the data 
X  = df_boston.drop('target',axis = 1)
y = df_boston["target"]

# Split into train and test sets 
X_train,X_test,y_train,y_test  = train_test_split(X, y, test_size  = 0.2) 

# Instantiate and fit model 
model= RandomForestRegressor().fit(X_train, y_train)

# MAke predictions 
y_predict =  model.predict(X_test)
y_predict[:10]

array([23.002, 30.826, 16.734, 23.467, 16.853, 21.725, 19.232, 15.239,
       21.067, 20.738])

In [77]:
np.array(y_test[:10])

array([23.6, 32.4, 13.6, 22.8, 16.1, 20. , 17.8, 14. , 19.6, 16.8])

In [78]:
# Compare the prediction to the truth 
from sklearn.metrics import mean_absolute_error

mean_absolute_error(y_test, y_predict)

2.1226372549019623

## 4. Evaluating a machine learning model 

Three ways to evaluate Scikit-learn models/estimators: 
1. Estimator `score ` method 
2. The `scoring` parameter
3. Problem-specific metric functions

### 4.1 Evaluating a model with `score` method

In [79]:
#import RandomForestclassifier estimator class 
from sklearn.ensemble import RandomForestClassifier

#set-up random seed
np.random.seed(42)

#Make the data 
X = heart_disease.drop('target', axis=1)
y = heart_disease['target']

#Split the data 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

#Instantiate RandomForestClassifier 
clf =  RandomForestClassifier()

#Fit the model to the Data (Training the machine learning model )
clf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [80]:
 clf.score(X_train, y_train)

1.0

In [81]:
clf.score(X_test, y_test)
#note: default metric is mean accuracy on the given test data and labels

0.8524590163934426

let's do the same but for regression

In [82]:
# Create the data 
X  = df_boston.drop('target',axis = 1)
y = df_boston["target"]

# Split into train and test sets 
X_train,X_test,y_train,y_test  = train_test_split(X, y, test_size  = 0.2) 

# Instantiate and fit model 
model= RandomForestRegressor().fit(X_train, y_train)

In [83]:
model.score(X_test, y_test)
#note: default score metric is R^2(ccoefficient of determination )

0.8476644039421872

### 4.2 Evaulating the model using `scoring` parameter

In [84]:
from sklearn.model_selection import cross_val_score 
#olny evaluation method is different 


#import RandomForestclassifier estimator class 
from sklearn.ensemble import RandomForestClassifier

#set-up random seed
np.random.seed(42)

#Make the data 
X = heart_disease.drop('target', axis=1)
y = heart_disease['target']

#Split the data 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

#Instantiate RandomForestClassifier 
clf =  RandomForestClassifier()

#Fit the model to the Data (Training the machine learning model )
clf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [85]:
clf.score(X_test, y_test)

0.8524590163934426

In [86]:
cross_val_score(clf, X, y, cv=5)

array([0.81967213, 0.86885246, 0.81967213, 0.78333333, 0.76666667])


![](Images/sklearn-cross-validation.png)

So, With k fold cross validation method of evaluation, we train and test our model on n = 5 ,in this example,splits of Train and Test datasets  to avoide overfitting

In [87]:
cross_val_score(clf, X, y, cv=5)

array([0.83606557, 0.8852459 , 0.7704918 , 0.8       , 0.8       ])

In [88]:
cross_val_score(clf, X, y, cv=10)

array([0.90322581, 0.83870968, 0.87096774, 0.9       , 0.86666667,
       0.8       , 0.76666667, 0.83333333, 0.73333333, 0.83333333])

In [89]:
#depands of number of combinations on train test splits, we will receive an evaluation score on each split

In [90]:
np.random.seed(42)

#single training and test split 
single_score =  clf.score(X_test, y_test)

#take mean of 5 fold cross validation score 
clf_cross_val_score  = np.mean(cross_val_score(clf,X,y ,cv = 5))

#compare the two 
single_score, clf_cross_val_score

(0.8524590163934426, 0.8248087431693989)

In [92]:
# Default scoring parameter of classifier = mean accuracy
# clf.score()

In [94]:
# When Scoring parameter set to none by default it uses the default scoring parameter
cross_val_score(clf,X,y,cv=5,scoring = None)

array([0.78688525, 0.86885246, 0.80327869, 0.78333333, 0.76666667])

### 4.2.1 Classification model evaluation matrics 

1. Accuracy 
2. Area under ROC curve 
3. Confusion matrix 
4. Classification report


**Accuracy**

In [97]:
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier

np.random.seed(42)

X =  heart_disease.drop('target', axis = 1)
y =  heart_disease["target"]

clf = RandomForestClassifier()
cross_val_score = cross_val_score(clf, X, y, cv = 5)

In [98]:
np.mean(cross_val_score)

0.8248087431693989

In [104]:
print(f"Heart Disease classifier Cross Validated Accuracy:{np.mean(cross_val_score)*100 : .2f} %")

Heart Disease classifier Cross Validated Accuracy: 82.48 %

**Area under Receiver Operating characteristic curve (AUC/ROC)**
* Area under the curve (AUC)
* Receiver Operating characteristic (ROC)

ROC curves are a comparision of a model's true positive rate (tpr) versus a model's false postive rate (fpr).

* True positive = model predicts 1 when truth is 1 
* False positive = model predicts 1 when truth is 0
* True negative =  model predicts 0 when truth is 0
* False negative =  model predicts 0 when truth is 1

In [105]:
# Create train, test data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [112]:
from sklearn.metrics import roc_curve
#fit classifier 
clf.fit(X_train, y_train)

# Make predictions with probabilities
y_probs =  clf.predict_proba(X_test)
y_probs[:10]

array([[0.57, 0.43],
       [0.23, 0.77],
       [0.52, 0.48],
       [0.72, 0.28],
       [0.58, 0.42],
       [0.12, 0.88],
       [0.32, 0.68],
       [0.97, 0.03],
       [0.07, 0.93],
       [0.41, 0.59]])

In [117]:
# probablity of 1 
y_prob_postive = y_probs[:,1]
y_prob_postive

array([0.43, 0.77, 0.48, 0.28, 0.42, 0.88, 0.68, 0.03, 0.93, 0.59, 0.83,
       0.68, 1.  , 0.53, 0.76, 0.13, 0.84, 0.48, 0.1 , 0.07, 0.95, 0.7 ,
       1.  , 0.79, 0.08, 0.33, 0.88, 0.16, 0.72, 0.38, 0.14, 0.25, 0.22,
       0.49, 0.94, 0.94, 0.78, 0.84, 0.2 , 0.98, 0.4 , 0.82, 0.88, 0.27,
       0.  , 0.5 , 0.03, 0.85, 0.72, 0.31, 0.51, 0.24, 0.89, 0.3 , 0.47,
       1.  , 0.68, 0.11, 0.97, 0.05, 0.05])

In [118]:
# Calculate fpr, tpr and thresholds
fpr, tpr, thresholds = roc_curve(y_test, y_prob_postive)


# Check thge false positive rates 
fpr

array([0.        , 0.        , 0.03448276, 0.03448276, 0.03448276,
       0.03448276, 0.03448276, 0.03448276, 0.10344828, 0.10344828,
       0.10344828, 0.13793103, 0.17241379, 0.17241379, 0.27586207,
       0.27586207, 0.31034483, 0.34482759, 0.34482759, 0.37931034,
       0.37931034, 0.4137931 , 0.4137931 , 0.44827586, 0.44827586,
       0.65517241, 0.65517241, 0.82758621, 0.96551724, 1.        ])